
study/study/obj/Debug/CoreCompileInputs.cache
study/study/obj/Debug/study.exe
study/study/obj/Debug/study.pdb
study/study/study.csproj
study/study/bin/Debug/study.pdb
study/study/bin/Debug/study.exe
study/.vs/study/v15/.suo
study/study/obj/Debug/CoreCompileInputs.cache
study/.vs/study/v15/.suo
